.timeWrapper{
  height: 38px;
  align-items: center;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #efffff;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0px;
  z-index: 99;
}