.am-list-line,.am-textarea-item {
  .am-input-label,.am-textarea-label{
    font-size: 12px!important;
  }
  textarea{
    font-size: 14px!important;
  }
  .am-input-control{
    input,textarea{
      font-size: 14px!important;
    }
  }
}
.am-list-item {
  .am-list-content{
    font-size: 12px!important;
    color: #999!important;
  }
  .am-list-extra{
    font-size: 14px!important;
    color: #333!important;
    flex:1;
  }
}